body.dark-mode {
    background-color: #2e0038;
    color: #e2b3d9;
}

body.dark-mode .sidebar {
    background: #450052;
    border-right: 2px solid #a84da0;
}

body.dark-mode .btn-accessibility {
    background: #a84da0;
    color: white;
}

body.dark-mode .btn-accessibility:hover {
    background: #7a357b;
}

body.dark-mode .content {
    background-color: #3c003f;
    box-shadow: 0 0 12px #a84da0;
    color: #e2b3d9;
}

body.dark-mode .tabs .tab {
    background: #7a357b;
    color: #e2b3d9;
}


